@import '@/styles/_variables.scss';

.home {
	animation: Home 2s ease-in-out forwards;
	@keyframes Home {
		from {
			background: $primary;
			color: transparent;
		}
		to {
			background: $additional;
			color: $primary;
		}
	}
}
