@import '@/styles/_variables.scss';

.about {
	animation: About 2s ease-in-out forwards;
	@keyframes About {
		from {
			background: $additional;
			color: transparent;
		}
		to {
			background: $primary;
			color: $additional;
		}
	}
}
