*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
}

*::selection {
	background-color: transparent;
}

body {
	margin: 0;
	font-family: 'Cascadia Code', 'Segoe UI', sans-serif;
	overflow: hidden;
}

.disappearance {
	pointer-events: none;
	animation: Disappear 1s ease-in-out forwards;
	@keyframes Disappear {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
}
